*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{
    --bs-red:#e03a3c;
}
.a-text{
    text-decoration: none;
    color: #000;
}
.ds-flex{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-40{
    width: 40%;
    /* margin-top: 37px; */
}
.col-25{
    width: 25%;
}
.col-60{
    width: 60%;
}
.col-50{
    width: 50%;
    /* margin-top: 30px; */
    padding: 0 10px;
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1320px;
}

.section__bg{
    background-color: #000 ;
    padding: 6% 0;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
    color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.header{
   padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
}
.header__log{
    margin-right: auto;
}

.header__log a{
    /* width: 100%; */
    display: block;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.header__log__span{
    color: var(--bs-red);
    font-size: x-large;
    font-weight:bold ;
}
/* .navbar{
  justify-content: end;
} */
.nav__ul{
    display: flex;
    position: relative;
    list-style: none;
}
.nav__ul__li a{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}
.nav__ul__li > a:hover{
    color: var(--bs-red);
}

.dropdown ul{
    display: block;
    position: absolute;
    top: 40px;
    z-index: 9;
    list-style: none;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
.dropdown:hover .dropdown-buttom, .dropdown__deep:hover .dropdown-left{
    opacity: 1;
    visibility: visible;
}
.dropdown__deep:hover .dropdown-left{
    opacity: 1;
    visibility: visible;
}

.dropdown ul li{
   min-width: 200px; 
}
.dropdown ul li a{
    /* color: #fff; */
}

.dropdown__deep ul{
    box-shadow: 0 0 0 gray;
    position: absolute;
    top: 60px;
    left: calc(100% - 1px);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background-color: var(--bs-red);
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    border: none;
}
.btn:hover{
    background: #111111;
    color: #fff;
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
.hero{
    width: 100%;
    height: 100vh;
    background: url(./img/hero-bg.jpg) top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 82px;
}
.hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.hreo-btn{
    max-width: 8rem;
    margin: 1rem 0 0 0 ;
    padding: 10px;
}
.hreo-btn:hover{
    
}
.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
  
.hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}

/*--------------------------------------------------------------
# Client section
--------------------------------------------------------------*/
.clients{
    padding: 2% 0;
}
.owl-item img {
    width: 116px !important;
    filter: grayscale(1);
}
.owl-item img:hover {
    filter: grayscale(0);
}
.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #e03a3c !important;
}

.about__rows .col-40{
    margin-top: 37px;
}

.about__col.col-50{
    margin-top: 30px;
    padding: 0 13px;
}
.about__col.col-50 h3{
    margin-bottom: 10px;
}
.about__col .col-50 p{
    margin-bottom: 16px;
    color: gray;
}
.about-btn {
    border: 2px solid red;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    padding: 5px 22px;
    font-size: 14px;
    font-weight: 600;
}

.about__d h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.about__d p {
    margin-bottom: 30px;
}


/*--------------------------------------------------------------
# Count section
--------------------------------------------------------------*/
.count{
    padding: 6rem 0;
}
.count-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 30px 30px 25px 30px;
    width: 100%;
    border-radius: 4px;
}

.count-box i{
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-red);
    background: #fff;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: -23%;
}
.count-box p{
    font-size: 14px;
}
.count-num{
    font-size: 34px;
    font-weight: 700;
}
.count__rows .col-25{
    padding: 10px;
}
/*--------------------------------------------------------------
# services section
--------------------------------------------------------------*/
.section_header{
    text-align: center;
    padding-bottom: 20px;
}
.section_header h2{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}
.underline{
    margin: auto;
    display: block;
    border-bottom: 3px solid var(--bs-red);
    max-width: 50px;
    margin-bottom: 20px;
}
.services__col{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #252525;
    transition: 0.3s;
    position: relative;
}
.service__icon{
    float: left;
    font-size: 40px;
    color: var(--bs-red);
}
.services__col h3{
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.services__col h3 a{
    color: #fff !important;
}
.services__col p{
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}

.services__row .col-50{
    padding: 0 10px;
}
/*--------------------------------------------------------------
# portfolio section
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Trstimonials section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# pricing section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# faqs section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# team section
--------------------------------------------------------------*/
.team__row .col-25{
    padding: 0 10px;
}
.team__card{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}
.team__card-img img{
    width: 100%;
}
.team__card-info{
    padding: 25px 15px;
}
.team__card-info h5{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.team__card-info p{
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}
/*--------------------------------------------------------------
# Contact section
--------------------------------------------------------------*/
.contact__form , .contact_info {
    flex-direction: column;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
}

.contact_info h3{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}
.contact_info p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact-icon{
    font-size: 32px;
    color: #e03a3c;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
}
.contact__form input{
    width: 100%;
}
.contact__form .row{
    width: 100%;
}
.contact__form .row .col-50{
    padding: 10px 0;
}